# ignore these type of files
*.gnt
*.png

# ignore all files in these directories
data/image_data/train/
data/image_data/test/
data/image_data_3755/train/
data/image_data_3755/test/
data/HWDB1.1trn_gnt
data/HWDB1.1tst_gnt

__pycache__/
.idea/
.ipynb_checkpoints/

